
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");


.cont {
  max-width: 1100px;
  padding: 0 1rem 3rem;
  margin: auto;
}

.ha1 {
  margin: 3rem 0;
  font-weight: 400;
  font-family: poppins;
}

.accordion-header {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: all 0.4s ease-in-out;
}

/* .accordion-header h4 {
  font-size: 1rem;
  font-weight: 600;
} */

.accordion-body {
  transition: all 0.35s ease-in-out;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
}

.accordion-body p {
  padding: 1rem 1.5rem;
  line-height: 1.8;
}

.accordion + .accordion {
  margin-top: 1rem;
}

.accordion-icon {
  transition: transform 0.4s ease-in-out;
}

.accordion.active .accordion-header {
  background-color: rgb(40, 134, 114);
  color: white;
}

.accordion.active .accordion-icon {
  transform: rotate(-180deg);
}
